.range-input {

  &__percents {
    span {
      right: 5px;
    }

    input {
      width: 4.25rem;
      margin-left: 1.375rem;

      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  &__container {
    width: 130px;
    position: relative;
    overflow: hidden;
  }

  &__input {
    display: block;
    width: 100%;
    -webkit-appearance: none;

    //полоска
    &::-webkit-slider-runnable-track {
      width: 100%;
      cursor: pointer;
      background: white;
      height: 2px;
      border-radius: 10000px;
    }

    &.light {
      &::-webkit-slider-runnable-track {
        background: #E5E7EB;
      }
    }

    //кружок
    &::-webkit-slider-thumb {
      width: 6px;
      height: 6px;
      border-radius: 50%;
      cursor: pointer;
      position: relative;
      top: -2px;
      z-index: 1000;
      -webkit-appearance: none;
      background: white;
      box-shadow: inset 0 0 0 1.5px #2563EB;
    }
  }

  &__list {
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 0;
    transform: translateY(-50%);

    option {
      position: relative;
      min-height: 6px;
      border: 3px solid white;
      border-radius: 50%;

      &.light {
        border: 3px solid #E5E7EB;
      }
    }

    option.checked {
      border: 3px solid #2563EB
    }
  }

  &__progress {
    position: absolute;
    height: 2px;
    top: 50%;
    pointer-events: none;
    transform: translateY(-50%);
    background: #2563EB;
  }
}
